h1 {
    text-align: center;
    width: auto;
}

#search-form {
    display: flex;
    justify-content: center;
    margin: 20px;
    width: auto;
}

#search-history, #today-container, #forecast-container {
    border: 1px solid black;

}

#search-history {
    width: 15%;
    float: left;
    margin-right: 1%;
  }
  
  #today-container,
  #forecast-container,
  #city-name {
    width: 70%;
    float: right;
    padding: 1%;
  }
  
  #today-container p {
    flex: 1;
    margin: 1%;
  }

  #forecast-container {
    display: flex;
    justify-content: space-between;
  }
  
  #forecast-container p {
    flex: 1;
    margin: 1%;
  }
  